@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
	--color--confirm--dark: oklch(52.7% 0.154 150.069);
	--color--confirm--light: oklch(96.2% 0.044 156.743);

	--color--remove--dark: oklch(57.7% 0.245 27.325);
	--color--remove--light: oklch(93.6% 0.032 17.717);
}

body {
	font-family: "Inter", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#main {
	display: flex;
	flex-direction: center;
}

input {
	font-family: inherit;
	border-radius: 5px;
	border: 1px solid darkgray;
	padding: 6px;
}

button {
	border-radius: 5px;
	border: none;
	padding: 6px 8px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	background: oklch(44.6% 0.043 257.281);
	color: oklch(98.4% 0.003 247.858);
}

button:hover {
	background: oklch(20.8% 0.042 265.755);
	transform: translateY(-1px);
}

button:active {
	transform: translateY(1px);
}
